.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #be13a8;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #be13a8;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.gallery img {
  max-width: 360px;
  height: 100%;
  transition: transform 0.25s;
}
.gallery-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.content {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.item-list-info-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.text-content-title {
  margin: 0;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.text-content {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.input-group {
  display: flex;
  margin: 34px auto;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.form-control {
  padding: 8px 16px;
  border-radius: 4px;
  width: 272px;
  max-height: 40px;
}
.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: blueviolet;
  color: #000;
  border: none;
}
.btn-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.btn-load-more {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
